@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#comic-container {
    width: 735px;
    height: 520px;
    margin: 0px auto;
}

#comic-container .comic-panel {
    float: left;
    height: 242px;
}

.comic-panel .comic-panel-lock {
    color: #aaa;
    position: relative;
    left: 3px;
    bottom: 20px;
    padding: 3px;
    display: none;
}

.comic-panel.locked .comic-panel-lock {
    color: #D60000;
}

#comic-container .comic-row-1 {
    height: 242px;
}

#comic-container .comic-row-2 {
    height: 244px;
}

#comic-container #dc-panel-1 {
    width: 243px;
}

#comic-container #dc-panel-2 {
    width: 130px;
}

#comic-container #dc-panel-3 {
    width: 362px;
}

#comic-container #dc-panel-4 {
    width: 194px;
}

#comic-container #dc-panel-5 {
    width: 299px;
}

#comic-container #dc-panel-6 {
    width: 242px;
}

#comic-container #dc-panel-footer {
    width: 735px;
    height: 13px;
    float: left;
    display: inline-block;
    position: relative;
}

#dc-panel-footer img {
    position: absolute;
    top: 0;
}

.dc-panel {
    min-height: 320px;
    min-width: 130px;
}

.random-panel-button-container {
    margin-top: 10px;
}

.random-comic-button-container {
    margin-top: 10px;
    width: 735px;
}

#share-section {
    margin-top: 10px;
}

#share-section label {
    margin: 0;
}

#share-section #zclip-addon {
    padding: 6px;
}

#share-section .form-control {
    box-shadow: none;
}

#zclip-addon {
    color: #000;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

#zclip-addon.copied {
    background-color: #28b62c;
}

.modal-header {
    padding: 7px 15px;
}

.footer {
    margin-top: 5px;
    padding: 5px 10px;
    border-top: 1px solid #e5e5e5;
}
