@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dc-panel {
    min-height: 244px;
    min-width: 130px;
}

.random-panel-button-container {
    margin-top: 20px;
}

.footer {
    margin-top: 5px;
    padding: 5px 10px;
    /*color: #777;*/
    border-top: 1px solid #e5e5e5;
}

