{% extends "layout.html" %}
{% block body %}
    <div>
        <div id="comic-container">
            <div id="dc-panel-1" class="comic-panel">c1</div>
            <div id="dc-panel-2" class="comic-panel">c2</div>
            <div id="dc-panel-3" class="comic-panel">c3</div>
            <div id="dc-panel-4" class="comic-panel">c4</div>
            <div id="dc-panel-5" class="comic-panel">c5</div>
            <div id="dc-panel-6" class="comic-panel">c6</div>
            <div id="dc-panel-footer"><img src="/static/img/comic-footer.png"></div>
        </div>
    <div class="random-panel-button-container">
                <a href="#" class="btn btn-primary btn-lg" id="random-comic-button">Another Random Comic</a>
            </div>
    </div>
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#random-comic-button').click(function (e) {
{#                $(this).attr('disabled', true);#}
                e.preventDefault();
                doRandomComic();
            });

{#            $('#random-panel-button').attr('disabled', true);#}
            doRandomComic();
        });
    </script>
{% endblock %}
