{% extends "layout.html" %}
{% block body %}
    <div class="container col-lg-4 col-lg-offset-4 text-center">
        <div id="dc-panel-2" class="dc-panel"></div>
        <div class="random-panel-button-container">
            <a href="#" class="btn btn-primary btn-lg" id="random-panel-button">Another Random Panel 2</a>
        </div>
    </div>
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#random-panel-button').click(function(e){
                $(this).attr('disabled', true);
                e.preventDefault();
                doRandomPanel(2, function(){
                    $('#random-panel-button').attr('disabled', false);
                });
            });
            $('#random-panel-button').click();
        });
    </script>
{% endblock %}
