{% extends "layout.html" %}
{% block body %}
    <div class="container col-lg-8 col-lg-offset-2 text-center">
        <div id="dc-panel-2" class="dc-panel"></div>
        <div class="random-panel-button-container">
            <a href="#" class="btn btn-primary btn-lg" id="random-panel-button">Another Random Panel {{ panel }}</a>
        </div>
    </div>
{% endblock %}
{% block pagescripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#random-panel-button').click(function (e) {
                $(this).attr('disabled', true);
                e.preventDefault();
                doRandomPanel({{ panel }}, "", afterPanelLoadCallback);
            });

            doRandomPanel({{ panel }}, {{ comic_id if comic_id else '""'|safe }}, afterPanelLoadCallback);
        });
    </script>
{% endblock %}
