<!doctype html>
<html>
<head>
    <title>Dinosaur Comics Remix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% assets 'all_css' %}<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">{% endassets %}
</head>
<body>

<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Dinosaur Comics Remix</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Random Panel <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  {% for p in PANELS %}
                    <li><a href="{{ url_for('rand-panel', panel=p) }}">Random Panel {{ p }}</a></li>
                  {% endfor %}
              </ul>
            </li>
            <li><a href="{{ url_for('random_comic') }}">Random Comic</a></li>
            <li><a href="#" data-toggle="modal" data-target="#about">About</a></li>
        </ul>
    </div>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>

<div class="footer text-muted">
    <p><small>All comics and awesomeness &copy; <a target="_blank" href="http://www.qwantz.com/">Ryan North</a></small></p>
</div>

<script type="text/html" id="single-panel-template">
    <a target="_blank" href="http://www.qwantz.com/index.php?comic={{'{{comic_id}}'}}"><img class="img-thumbnail" src="/static/comics/{{'{{comic_id}}_{{panel}}'}}.png"></a>
    <div class="text-center">
        <a href="http://www.qwantz.com/index.php?comic={{'{{comic_id}}'}}">#{{'{{comic_id}}'}}</a>
    </div>
    <div class="input-group" id="share-section">
        <span class="input-group-addon"><label for="share-url">Share:</label></span>
        <input type="text" class="form-control" id="share-url" value="{{ url_for('rand-panel-no-comic', panel=panel or 2, _external=True) }}{{ '{{comic_id}}' }}">
        <span class="input-group-addon" id="zclip-addon"><button id="copy-button" title="Copy Link" data-clipboard-target="share-panel-url"><span class="glyphicon glyphicon-file"></span></button></span>
    </div>
</script>

<script type="text/html" id="comic-panel-template">
    <a target="_blank" title="Panel {{ '{{panel}}' }} from Comic #{{ '{{comic_id}}' }}" href="http://www.qwantz.com/index.php?comic={{'{{comic_id}}'}}"><img src="/static/comics/{{'{{comic_id}}_{{panel}}'}}.png"></a>
</script>

<script type="text/html" id="panel-share-section-template">
    <span class="input-group-addon"><label for="share-url">Share:</label></span>
    <input type="text" class="form-control" id="share-url" value="{{ url_for('rand-comic-w-panels', ps='', _external=True) }}{{ '{{panel_ids}}' }}">
    <span class="input-group-addon" id="zclip-addon"><button id="copy-button" title="Copy Link" data-clipboard-target="share-panel-url"><span class="glyphicon glyphicon-file"></span></button></span>
</script>

<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="aboutLabel">About</h4>
      </div>
      <div class="modal-body">
          <p>This app is a tribute to the awesomeness that is <a href="http://www.qwantz.com" target="_blank">Dinosaur Comics</a>. Every funny, creative thing you see here was created by <a href="https://twitter.com/ryanqnorth" target="_blank">Ryan North</a></p>
          <small>Feel free to fork and contribute to this app on <a target="_blank" href="https://github.com/vape/dinosaur-comics-panel2">GitHub</a>.</small>
      </div>
    </div>
  </div>
</div>

{% assets 'all_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% block pagescripts %}{% endblock %}
</body>
</html>
